#content {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

#help_list {
    column-count: 2;
    column-gap: 2rem;
    margin-top: 1.5rem;
}

@media (max-width: 500px) {
    #help_list {
        column-count: 1;
        column-gap: 2rem;
        margin-top: 1.5rem;
    }
}

@media (max-width: 767px) {
    body {
        padding: 18px;
    }
}

.step-container {
    margin-bottom: 30px;
}

.ipa {
    background: #daf1e0;
    border-radius: 3.6px;
    color: #2a6f3b;
    display: inline-block;
    line-height: 1.125rem;
    padding: 0.225rem 0.39375rem 0.16875rem;
    font: 0.9rem Menlo, Monaco, Consolas, "Courier New", monospace;
}

.algo-alert {
    background-color: #fff8e1;
    border-left: 4px solid #ffc107;
    padding: 15px;
    margin: 15px 0;
    border-radius: 0 4px 4px 0;
}

.algo-alert strong {
    margin-bottom: 5px;
    color: #b38808;
}

.example {
    font-style: italic;
    color: #555;
}